version: '3.8'

services:
  web:
    build:
      context: ../../
      dockerfile: docker/web/Dockerfile
    image: bhub-web
    container_name: bhub-web
    ports:
      - '8888:80'
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    external: true
